
@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
html,body{
    height: 100%;
    width: 100%;  
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 0, 5);
    
}
 #nav{
    height: 60px;
    width: 100%;
    background-color: rgb(23, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
 }
 #nav h4{
    color: white;
    font-weight: 500;
 }

 #center{
    height: 90%;
    width: 100%;
    background-color: black;
    background: url(https://imgs.search.brave.com/o0FDrGYbejPLXkWHjy4G_kw0CxYQUl9gxsVlHXU_iKU/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jZG4u/bW9zLmNtcy5mdXR1/cmVjZG4ubmV0LzRy/TVZuNEozaHNHUjJN/eVl0OWFLQlQuanBn);
    background-position: top;
    background-size: cover;
    text-align: center;
    padding: 50px;
 }

 #center h1{
    color: white;
    font-size: 60px;
    font-weight: 70px;
    font-family: apple;
   
 }
 #center h3{
    color: white;
    font-size: 20px;
    font-weight: 20px;
 }

 #link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
 }

 #link button{
    background-color: rgb(187, 187, 204);
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 300;
 }